<div class="header">
	<h1>Business Contact Form</h1>
</div>

<div class="content">
	<h2 class="content-subhead"></h2>
	
	<p>Please fill out this online form so we may have your contact information. We regularly send out a resume database of current students as well as information on our career fair, seminars and other events.</p>
	
	<br>
	
	<form class="pure-form pure-form-aligned">
		<fieldset>
			<div class="pure-control-group">
				<label for="companyName">Company Name</label>
				<input class="pure-input-1-2" id="companyName" type="text" placeholder="Company Name" required>
			</div>
			
			<div class="pure-control-group">
				<label for="yourName">Your Name</label>
				<input class="pure-input-1-2" id="yourName" type="text" placeholder="Your Name" required>
			</div>

			<div class="pure-control-group">
				<label for="email">Company Email</label>
				<input class="pure-input-1-2" id="email" type="email" placeholder="Company Email" required>
			</div>

			<div class="pure-control-group">
				<label for="phoneNumber">Phone Number</label>
				<input class="pure-input-1-2" id="phoneNumber" type="tel" placeholder="Phone Number" required>
			</div>
			
			
			<!-- <div class="pure-g">
				<div class="pure-control-group pure-u-1-8">
					<label for="question">How would you like to get involved?</label>
				</div>
			    <div class="pure-u-7-8" style="float:left">
					<div class="pure-controls">
						<label for="cb" class="pure-checkbox">
							<input id="terms" type="checkbox"> Career Fair
						</label>
						<label for="cb" class="pure-checkbox">
							<input id="terms" type="checkbox"> Seminar
						</label>
						<label for="cb" class="pure-checkbox">
							<input id="terms" type="checkbox"> Sponsor
						</label>
						<label for="cb" class="pure-checkbox">
							<input id="terms" type="checkbox"> Resume Database
						</label>
					</div>
				</div>
			</div> -->
			
			
			<div class="pure-control-group">
				<label for="descriptionOfBusiness">Description of your business</label>
				<textarea id="descriptionOfBusiness" rows="5" class="pure-input-1-2"  placeholder="Description of your business" required></textarea>
			</div>
			
			<div class="pure-control-group">
				<label for="otherInfo">Other Information</label>
				​<textarea id="otherInfo" rows="5" class="pure-input-1-2"  placeholder="Other Information"></textarea>
			</div>


			<div class="pure-controls">
				<button type="submit" class="button-uh pure-button">Submit</button>
			</div>
		</fieldset>
	</form>
	
</div>