<div class="header">
	<h1>Contact us</h1>
</div>

<div class="content">
	<h2 class="content-subhead"></h2>
	
	<p>CougarCS would love to hear your feedback. Feel free to send us an email or simply fill out the form with your contact information, and we'll contact you as soon as we can.</p>
	<p>If you represent a business please fill our our <a title="Business Contact Form" href="/business_contact_form">Business Relations Form</a>. We contact businesses about career fairs, seminar opportunities and general club news.</p>
	
	<br>
	
	<form class="pure-form pure-form-aligned">
	    <fieldset>
	        <div class="pure-control-group">
	            <label for="name">Name</label>
	            <input class="pure-input-1-2" id="name" type="text" placeholder="Name">
	        </div>

	        <div class="pure-control-group">
	            <label for="email">Email</label>
	            <input class="pure-input-1-2" id="email" type="email" placeholder="Email">
	        </div>

	        <div class="pure-control-group">
	            <label for="question">Comments/Questions</label>
	            <input class="pure-input-1-2" id="question" type="text" placeholder="Comments/Questions">
	        </div>


	        <div class="pure-controls">
	            <button type="submit" class="pure-button pure-button-primary button-uh">Submit</button>
	        </div>
	    </fieldset>
	</form>
	
	<br>
	<p>You can email us at <a href="mailto:info@cougarcs.com">info@cougarcs.com</a></p>
	
</div>