<div class="splash-container">
	<center></center>
</div>

<div class="content-wrapper">
	<div class="header">
		<h1>Blog</h1>
	</div>

	<div class="content">
		<h2 class="content-subhead"></h2>
	
		<p>CougarCS is the official Computer Science club at the University of Houston. We are a group of  students with interests in technology, software engineering, and web development.</p>
		<p>CougarCS is an organization where we connect students to members to the faultily here at UH and also in Houston based industries.</p>
		<p>We have bi-monthly meetings where we discuss a variety of different topics. Last year discussions were predominately about open source programming, open source hardware, net languages and their uses and innovation in a general sense. We also have open forums on gaming, new technology, and other social events such as bowling, LAN parties, and Career Fairs.</p>
		<p>We have members of varying disciplines in Computer Science, everything from legal experts in the field of Computer Science to Biomedical Engineers. This allows us not only to have a secure educational experience in our own field of CS but with the help of others we are able to expand our knowledge into new and exciting fields.</p>
		<p>We also plan on make a larger presence in the NSM College as well as the University of Houston, as an outgoing and intelligent organization who voices their opinions on many issues. As our membership grows, we will have more say on many important issues that will affect you: the student.</p>
		<p>If you are interested in attending our meetings, join our newsletter by sending us an <a href="/contact">email</a>.</p>
	</div>
</div>