<div class="splash-container">
	<img class="pure-img-responsive" width="100%" height="auto" src="http://notadamandsteve.com/wp-content/uploads/2013/12/valley.jpg" alt="Yosemite">
</div>

<div class="content-wrapper">
	<div class="header">
		<h1>Blog</h1>
	</div>

	<div class="content">
		<h2 class="content-subhead"></h2>

		<section class="post">
			<header class="post-header">
				<div class="calendar-date">
					<div class="calendar-date-month">Sep</div>
					<div class="calendar-date-day">9</div>
				</div>
				<img class="post-avatar" src="https://media.licdn.com/mpr/mpr/shrink_120_120/p/7/005/01d/0ae/2b81c30.jpg">
				<h2 class="post-title">1st CougarCS Meeting For Fall 2014</h2>
				<p class="post-meta">By Muhammad Naviwala</p>
			</header>
			<div class="post-description">
				<p>
					First official Fall 2014 CougarCS meeting will be on Thursday, September 11 at 05:30 PM. We’ll go over all the new exciting things that’ll happen this year (like career fair, tailgate, etc.). We also have Dr. Hesam Panahi from Red Labs coming, who is  in charge of the startup incubator (accelerator) over at the UH Red Labs. In addition to that, Jared Bienz from Microsoft will be giving a talk on virtual reality, and will demo how to use the Oculus SDK in your Unity game!
				</p>
				<p>
					So <a href="https://www.facebook.com/events/1473345866261115/1473686369560398/">RSVP</a> to the meeting and come enjoy some FREE food and socialize with your fellow comrades!
				</p>
			</div>
		</section>
	
	
		<section class="post">
			<header class="post-header">
				<div class="calendar-date">
					<div class="calendar-date-month">Sep</div>
					<div class="calendar-date-day">8</div>
				</div>
				<img class="post-avatar" src="https://media.licdn.com/mpr/mpr/shrink_120_120/p/7/005/01d/0ae/2b81c30.jpg">
				<h2 class="post-title">Houston Techfest</h2>
				<p class="post-meta">By Muhammad Naviwala</p>
			</header>
			<div class="post-description">
				<p>
					Houston Techfest is this Saturday September 13 at Reliant Center. Free to attend, over 1,500 attendees, with multiple tracks ranging from .NET, JavaScript, Mobile Development, Cloud, Agile Methods. Great opportunities to network and learn from professionals in the Houston area! Come see what the Houston Developer scene is all about!
				</p>
			</div>
		</section>
	
		<section class="post">
			<header class="post-header">
				<div class="calendar-date">
					<div class="calendar-date-month">Sep</div>
					<div class="calendar-date-day">5</div>
				</div>
				<img class="post-avatar" src="https://media.licdn.com/mpr/mpr/shrink_120_120/p/7/005/01d/0ae/2b81c30.jpg">
				<h2 class="post-title">UH vs Grambling State Tailgating</h2>
				<p class="post-meta">By Muhammad Naviwala</p>
			</header>
			<div class="post-description">
				<p>
					Hello everyone! Our second tailgate will be this Saturday (9/6) before the football game against Grambling State. CougarCS and the CS Alumni will have our own Booth there. So come by and enjoy some FREE food and socializing before the game!!!
				</p>
			</div>
		</section>
	
	</div>

	
</div>
</div>