<div class="header">
	<h1>Officers</h1>
</div>

<div class="content">
	<h2 class="content-subhead">CougarCS officers for the 2014-2015 school year</h2>
	
	<div class="pure-g bottom-padding-25">
		<div class="pure-u-1-3">
			<div class="padding-10">
				<img class="pure-img-responsive" src="/images/officers/Maria.JPG" alt="Maria Briceno-Rojas">
				<h3 class="officer-title">President</h3>
				<p class="officer-name">Maria Briceno-Rojas</p>
			</div>
		</div>
		<div class="pure-u-1-3">
			<div class="padding-10">
				<img class="pure-img-responsive" src="images/officers/Eric.JPG" alt="Eric Siebeneich">
				<h3 class="officer-title">Vice President</h3>
				<p class="officer-name">Eric Siebeneich</p>
			</div>
		</div>
		<div class="pure-u-1-3">
			<div class="padding-10">
				<img class="pure-img-responsive" src="/images/officers/Jophy.JPG" alt="Jophy Johnson">
				<h3 class="officer-title">Treasurer</h3>
				<p class="officer-name">Jophy Johnson</p>
			</div>
		</div>
	</div>
	
	<div class="pure-g bottom-padding-25">
		<div class="pure-u-1-3">
			<div class="padding-10">
				<img class="pure-img-responsive" src="/images/officers/Gabe.JPG" alt="Gabe Ohlson">
				<h3 class="officer-title">Presidential Advisor</h3>
				<p class="officer-name">Gabe Ohlson</p>
			</div>
		</div>
		<div class="pure-u-1-3">
			<div class="padding-10">
				<img class="pure-img-responsive" src="images/officers/Chang.JPG" alt="Dr. Chang Yun">
				<h3 class="officer-title">Faculty Advisor</h3>
				<p class="officer-name">Dr. Chang Yun</p>
			</div>
		</div>
		<div class="pure-u-1-3">
			<div class="padding-10">
				<img class="pure-img-responsive" src="/images/officers/Zaki.JPG" alt="Zakariyya Mughal">
				<h3 class="officer-title">Secretary</h3>
				<p class="officer-name">Zakariyya Mughal</p>
			</div>
		</div>
	</div>
	
	<div class="pure-g bottom-padding-25">
		<div class="pure-u-1-3">
			<div class="padding-10">
				<img class="pure-img-responsive" src="/images/officers/PJ.JPG" alt="PJ Ernstes">
				<h3 class="officer-title">Director of Communications</h3>
				<p class="officer-name">PJ Ernstes</p>
			</div>
		</div>
		<div class="pure-u-1-3">
			<div class="padding-10">
				<img class="pure-img-responsive" src="images/officers/Faysal.JPG" alt="Faysal Sharif">
				<h3 class="officer-title">Director of Activities</h3>
				<p class="officer-name">Faysal Sharif</p>
			</div>
		</div>
		<div class="pure-u-1-3">
			<div class="padding-10">
				<img class="pure-img-responsive" src="/images/officers/Chirag.JPG" alt="Chirag Ghanshani">
				<h3 class="officer-title">Director of Recruiting</h3>
				<p class="officer-name">Chirag Ghanshani</p>
			</div>
		</div>
	</div>
	
	<div class="pure-g bottom-padding-25">
		<div class="pure-u-1-3">
			<div class="padding-10">
				<img class="pure-img-responsive" src="/images/officers/Muhammad.JPG" alt="Muhammad Naviwala">
				<h3 class="officer-title">Webmaster</h3>
				<p class="officer-name">Muhammad Naviwala</p>
			</div>
		</div>
		<div class="pure-u-1-3">
			<div class="padding-10">
				<img class="pure-img-responsive" src="images/officers/Tobin.JPG" alt="Tobin Thomas">
				<h3 class="officer-title">Historian</h3>
				<p class="officer-name">Tobin Thomas</p>
			</div>
		</div>
		<div class="pure-u-1-3">
			<div class="padding-10">
				<img class="pure-img-responsive" src="/images/officers/Dan.JPG" alt="Dan Burns">
				<h3 class="officer-title">Designer</h3>
				<p class="officer-name">Dan Burns</p>
			</div>
		</div>
	</div>
	
	
</div>