<div class="header">
	<h1>CougarCS Sponsors</h1>
</div>

<div class="content">
	<h2 class="content-subhead"></h2>
	
	<div class="pure-g bottom-padding-25">
		<div class="pure-u-1-2">
			<div class="padding-10">
				<img class="pure-img-responsive img-border" src="http://img1.wikia.nocookie.net/__cb20111130221412/bttf/images/8/83/Chevron_Logo.png" alt="">
			</div>
		</div>
		<div class="pure-u-1-2">
			<div class="padding-10">
				<img class="pure-img-responsive img-border" src="http://www.cbcemea.com/wp-content/uploads/2014/06/exxonmobil-nigeria-logo-png.png" alt="">
			</div>
		</div>
	</div>
	
	<div class="pure-g bottom-padding-25">
		<div class="pure-u-1-2">
			<div class="padding-10">
				<img class="pure-img-responsive img-border" src="http://coastalflow.com/default/images/FC%20LetterHeadLogo.JPG" alt="">
			</div>
		</div>
		<div class="pure-u-1-2">
			<div class="padding-10">
				<img class="pure-img-responsive img-border" src="http://www.seattlegivecamp.org/images/Sponsor/pariveda-COLOR-stacked.png" alt="">
			</div>
		</div>
	</div>
	
	<div class="pure-g bottom-padding-25">
		<div class="pure-u-1-3">
			<div class="padding-10">
				<img class="pure-img-responsive" src="http://solutions-directory.iata.org/wp-content/uploads/2011/05/PROS-Logo_jpg-short1.jpg" alt="">
			</div>
		</div>
		<div class="pure-u-1-3">
			<div class="padding-10">
				<img class="pure-img-responsive" src="http://www.pagedon.com/wp-content/uploads/2009/02/INTERGRAPH-logo.bmp" alt="">
			</div>
		</div>
	</div>
	
</div>