<div class="header">
	<h1>Edit author</h1>
</div>

<div class="content">
	<h2 class="content-subhead"></h2>
	<%= render 'form' %>
</div>

<!-- <#= link_to 'Show', @author %> |
<#= link_to 'Back', authors_path %> -->
