<!DOCTYPE html>
<html>
<head>
	<title>CougarCS</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div id="layout">
		<!-- Menu toggle -->
		<a href="#menu" id="menuLink" class="menu-link">
			<!-- Hamburger icon -->
			<span></span>
		</a>

		<div id="menu">
			<div class="pure-menu pure-menu-open">
				<a class="pure-menu-heading" href="/">CougarCS</a>

				<ul>
					<!-- class="pure-menu-selected" -->
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact us</a></li>
					<li><a href="/officers">List of officers</a></li>
					<li><a href="#">Hackathons</a></li>
					<li><a href="#">Social events</a></li>
					<li><a href="#">Calendar</a></li>
					<li><a href="#">Business contact form</a></li>
					<li><a href="#">CougarCS sponsors</a></li>
					<li><a href="#">Become a member</a></li>
					<li><a href="#">Members showcase</a></li>
					<li><a href="#">Lightning talks</a></li>
					<li><a href="#">UH CS news</a></li>
				</ul>
			</div>
		</div>

		<div id="main">
			<%= yield %>
		</div>

	</div>
	
<script src="http://purecss.io/combo/1.17.4?/js/ui.js"></script>

</body>
</html>
